<!-- TODO add tag support -->

<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
	<div class="container">
		<div class="col-md-offset-2 col-md-8">
			<% if (message != null) { %>
	        <div class="alert alert-info"><%= message %></div>
	    	<% } %>
			<form action="/profile/create" method="post">
		        <div class="form-group">
		            <label>Question</label>
		            <input type="text" class="form-control" name="question">
		            <label>Tags</label>
		            <input type="text" class="form-control" name="tags">
		        </div>
		        <button type="submit" class="btn btn-warning btn-lg">Add</button>
		    </form>
		</div>
	</div>
</body>
</html>