.container-padding {
    margin-top: 2%
}

.option {
    float:right;
    border: none;
    background: white;
}

.option:hover {
    background: grey;
}

li {
    list-style:none;
    padding: 5px 10px;
    border: 1px solid #eee;
}

ul {
    padding: 0;
    list-style-type: none;
}